<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Gerador de QRCode</title>
</head>

<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <div>
            <input type="text" size="25" placeholder="Digite o site para o QRCode..." v-model="texto" />
        </div>
        <div v-if="texto" class="output">
            <img :src="newQRCode" alt="QRCode">
        </div>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                titulo: 'Gerador de QRCode by Knop',
                texto: 'www.google.com.br',
                qrcode: new QRious({ size: 200 })
            },
            computed: {
                newQRCode() {
                    this.qrcode.value = this.texto
                    return this.qrcode.toDataURL()
                }
            }
        })
    </script>
</body>

</html>